.vscode
node_modules/*
static/tmp/*.pdf
static/tmp/med-images/*.jpg
static/tmp/images/*.jpg
static/tmp/fitted/*.jpg
static/tmp/scaled/*.jpg
static/tmp/zip-cache/*
!static/tmp/zip-cache/info.txt
*.zip
.env
.idea/*
misc/test_borders/*
misc/test_images/*
public/node_modules
coverage
yarn-error.log