@import url('https://fonts.cdnfonts.com/css/sony-sketch-ef');

.navbar-brand {
  color: #ffffff;
  font-family: 'Sony Sketch EF', sans-serif;
  font-size: 2.25rem;
  padding-top: 0;
  padding-bottom: 0;
}

.toast {
  position: absolute;
  top: 90px;
  right: 30px;
  z-index:1;
}

.demo-content.bg-alt{
    padding: 15px;
    background: #abb1b8;
}
.home-button{
    max-height:30px;
    padding: 1px;
}
body{
  padding-top: 80px;
}

.form-group{
  margin-bottom: 2rem;
}

.playset-tab {
  overflow: hidden;
  padding-top: 10px;
}

.playset-btn {
  background-color: inherit;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.playset-btn:hover {
  background-color: #ddd;
}

.playset-btn:focus {
  background-color: #ccc;
}

img.card{
  width: 5.715cm;
  height: 7.92cm;
  vertical-align: top;
}

.errorMsg {
  color: red;
  font-weight: bold;
}

.statusMsg {
  color: blue;
  font-weight: bold;
}

.downloadBtn{
  color: white; 
  display: none;
}

.initHide{
  display: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

#altArtSelector {
  overflow-y: scroll;
  max-height: 35vh; 
}

#HeadMsg {
  color: red;
  font-size: 2rem;
}

@media screen {
  #cardPreview {
    margin-top: 1rem;
    overflow-y: scroll;
    min-height: 950px;
    max-height: 90vh;
  }
  #cardPreview > * {
    display: inline-block;
    margin: 1rem;
    vertical-align: top;
    position: relative;
    z-index: 10;
    width: 5.08cm;
    height: 7.04cm;
    background: #f6f7f7 linear-gradient(-54deg, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.02) 50%);
    transform: scale(1);
    transition: transform 0.125s, filter 0.1s ease-in-out;
  }
  #cardPreview > * > img {
    background-image: none;
  }
  #cardPreview > * > img:after {
    content: "card";
    padding: 1.621em 1rem;
    line-height: 1.5;
  }
  #cardPreview > * > .label {
    visibility: hidden;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: -32px;
    padding: 0.5em 1em;
    border-radius: 0 0 0.1cm 0.1cm;
    font-size: 12px;
    line-height: 1.2;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.1s;
  }
  #cardPreview > p {
    padding: 1.621em 1rem;
    line-height: 1.5;
  }
  #cardPreview > a:hover {
    transform: scale(1.1);
    z-index: 20;
  }
  #cardPreview > a:hover > .label {
    visibility: visible;
    opacity: 1;
  }
}