.navbar-default {
  background-color: #011f4c;
  border-color: #385887;
}
/* .navbar-default .navbar-brand {
  color: #9d9d9d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
} */

.navbar-default {
  color: #9d9d9d;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #9d9d9d;
}
.navbar-default .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #385887;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #385887;
}
.navbar-default .navbar-toggle {
  border-color: #385887;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #385887;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #9d9d9d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9d9d9d;
}
.navbar-default .navbar-link {
  color: #9d9d9d;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.demo-content.bg-alt{
    padding: 15px;
    background: #abb1b8;
}
.home-button{
    max-height:30px;
    padding: 1px;
}
body{
  padding-top: 70px;
}

/* .container{
  height: 100%
}

.col-md-6 {
  min-height: 80vh;
}  */

.playset-tab {
  overflow: hidden;
  padding-top: 10px;
}

.playset-tab button {
  background-color: inherit;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.playset-tab button:hover {
  background-color: #ddd;
}

.playset-tab button.active {
  background-color: #ccc;
}
  
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #385887;
  }
}