.navbar-default {
  background-color: #011f4c;
  border-color: #385887;
}

.navbar-default {
  color: #9d9d9d;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #9d9d9d;
}
.navbar-default .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #385887;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #385887;
}
.navbar-default .navbar-toggle {
  border-color: #385887;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #385887;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #9d9d9d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9d9d9d;
}
.navbar-default .navbar-link {
  color: #9d9d9d;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.demo-content.bg-alt{
    padding: 15px;
    background: #abb1b8;
}
.home-button{
    max-height:30px;
    padding: 1px;
}
body{
  padding-top: 70px;
}

.playset-tab {
  overflow: hidden;
  padding-top: 10px;
}

.playset-btn {
  background-color: inherit;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.playset-btn:hover {
  background-color: #ddd;
}

.playset-btn:focus {
  background-color: #ccc;
}

img.card{
  /* width: 6.35cm;
  height: 8.8cm; */
  width: 5.715cm;
  height: 7.92cm;
  vertical-align: top;
}

#downloadSpinner{
  display: none
}

#DownloadErrorMsg {
  color: red;
  font-weight: bold;
}

#PDFdownloadBtn{
  color: white; 
  display: none
}

#PDFResetBtn{
  display: none
}
  
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #385887;
  }
}

@media screen {
  #cardImgBox {
    margin-top: 1rem;
    max-height: 800px;
    min-height: 350px;
    overflow-y: scroll;
  }
  #cardImgBox > * {
    display: inline-block;
    margin: 1rem;
    vertical-align: top;
    position: relative;
    z-index: 10;
    width: 5.08cm;
    height: 7.04cm;
    background: #f6f7f7 linear-gradient(-54deg, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.02) 50%);
    transform: scale(1);
    transition: transform 0.125s, filter 0.1s ease-in-out;
  }
  #cardImgBox > * > img {
    background-image: none;
  }
  #cardImgBox > * > img:after {
    content: "card";
    padding: 1.621em 1rem;
    line-height: 1.5;
  }
  #cardImgBox > * > .label {
    visibility: hidden;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    padding: 0.5em 1em;
    border-radius: 0 0 0.1cm 0.1cm;
    font-size: 12px;
    line-height: 1.2;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.1s;
  }
  #cardImgBox > p {
    padding: 1.621em 1rem;
    line-height: 1.5;
  }
  #cardImgBox > a:hover {
    transform: scale(1.1);
    z-index: 20;
  }
  #cardImgBox > a:hover > .label {
    visibility: visible;
    opacity: 1;
  }
}