// card
$card-width:            6.35cm;
$card-height:           8.80cm;
$card-scale:            1;

// ui
$font-family-default:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-family-mono:      "Courier New", monospace;
$color-corp:            #0A539D;
$color-runner:          #B93A2F;


*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
html * {
  font-family: $font-family-default;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
}

body {
  margin: 0;
  background-color: white;
}

#UserInput { 
  width: 18rem;
  height: 28rem;
  border: 0 none;
  font-family: $font-family-mono;
  font-size: 14px;
  outline: none;
  resize: none;
  overflow-y: auto;
}

#DeckId, #DeckView {
  width: 18rem;
  border: 0 none;
  font-family: $font-family-mono;
  font-size: 14px;
  font-weight: bold;
  color:  #000;
  outline: none;
  resize: none;
  overflow-y: auto;
}

#DeckId::placeholder, #DeckView::placeholder {
  font-family: $font-family-mono;
  font-size: 14px;
  color:  #aaa;
}

#notice {
  color:  #8B0000;
  font-weight: bold;
}

h1 {
  margin: 3rem 0 1rem 0;
  font-size: 1.75rem;
}

P {
  margin: 1rem 0
}

strong, b {
  font-weight: 600;
}

a {
  color: $color-corp;
  font-weight: 400;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 0.8em 1.4em;
  border: 0 solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(black, 0.2);
  // background: hsl(0, 0%, 92%) linear-gradient(to top, hsl(0, 15%, 90%) 0%, hsl(0, 10%, 96%) 100%);
  background-color: $color-corp;
  color: white;
  line-height: 1;
  text-decoration: none !important;
  cursor: pointer;
  
  background-position: center;
  transition: background 0.125s;
  
  &:hover {
    background: $color-runner radial-gradient(circle, transparent 1%, $color-runner 1%) center/15000%;
  }
  
  &:active {
    background-color: $color-corp;
    background-size: 100%;
    transition: background 0s;
  }
}

img.card {
  width: $card-width * $card-scale;
  height: $card-height * $card-scale;
  vertical-align: top;
}

#Cards,
#Cards > * {
  line-height: 0;
}

#side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100vh;
  padding: 3rem 1rem 6rem 1rem;
  border: 0 none;
  box-shadow: inset 0.4rem 0 0 darken($color-runner, 6%);
  background-color: $color-runner;
  color: white;
  font-family: $font-family-mono;
  font-size: 14px;
  outline: none;
  resize: none;
  overflow-y: auto;
}

.text-muted {
  color: hsl(0, 0%, 62%);
}

[data-loading] {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 1em;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  background-color: #f1f1f1;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 36rem;
}


.playset-tab {
  overflow: hidden;
  padding-top: 10px;
}

.playset-tab button {
  background-color: inherit;
  border: 1px solid #ccc;;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.playset-tab button:hover {
  background-color: #ddd;
}

.playset-tab button.active {
  background-color: #ccc;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media print {
  
  .print-hide {
    display: none;
  }
}


@media screen {
  
  body {
    margin: 0 1rem ($card-height / 2) 27rem;
    overflow-y: scroll;
    cursor: default;
  }
  
  #Cards {
    margin-top: 1rem;

    > * {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      position: relative;
      z-index: 10;
      width: $card-width * $card-scale;
      height: $card-height * $card-scale;
      background: #f6f7f7 linear-gradient(-54deg, rgba(black, 0.06) 50%, rgba(black, 0.02) 50%);
      transform: scale(1);
      transition: 
        transform 0.125s, 
        filter 0.1s ease-in-out;

      > img {
        background-image: none;
      }
      
      > img:after {
        content: 'card';
        padding: 1.621em 1rem;
        line-height: 1.5;
      }
      
      > .label {
        visibility: hidden;
        position: absolute;
        left: 2px;
        right: 2px;
        bottom: 2px;
        padding: 0.5em 1em;
        border-radius: 0 0 0.1cm 0.1cm;
        font-size: 12px;
        line-height: 1.2;
        background: rgba(black, 0.6);
        color: white;
        opacity: 0;
        transition: opacity 0.1s;
      }
    } 
    
    > p {
      padding: 1.621em 1rem;
      line-height: 1.5;
    }
    
    > a:hover {
      transform: scale(1.1);
      z-index: 20;
      
      > .label {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}